h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container:hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(1);
    transition: background-size 0.3s ease; 
}

 body {
     text-align: center;
 }

 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  